@import "../utils/_variable";

.backdrop {
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: getColor(second-backdrop-transparent-bg);
  transition: opacity 1000ms cubic-bezier(0.075, 0.82, 0.165, 1),
    visibility 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

// @media screen and (min-width: 768px) and (max-width: 1200px) {
// }

// @media screen and (min-width: 1200px) {
  
// }
