@import '../utils/variable';

.client-list{
  display: flex;
  justify-content: space-around;

  &--margin-top{
     margin-top: 50px;
  }

  &__link{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;
    
    box-sizing: border-box;
    border: 1px solid getColor(svg-grey);
    border-radius: 4px;
    fill: getColor(svg-grey);

    &:hover,
    &:focus{
      border-color: getColor(active); 
      fill: getColor(active);
    }

  }

  &__svg{
    width: 106px;
    height: 60px;
  }
}


