@import '../utils/variable';

.footer-address{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  
  color: getColor(font-light-transparent);

  &__link{
    color: getColor(font-light-transparent);

    &:hover,
    &:active{
       color: getColor(active);
    }
  }

  &__items{
    &--margin-top{
      margin-top: 9px;
    }
  }
}

.footer-social{
  &--margin-left{margin-left: 70px;}
}

.footer-newsleter{
  &--margin-left{ margin-left: 80px;}
}

.form-newsleter{
  &_email{
    box-sizing:border-box;
    width: 358px;
    height: 50px;
    background-color: inherit;
    padding: 15px 16px;
    color: getColor(font-light-transparent);
    

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    
    &--margin-top{
      margin-top: 20px;
    }
  }
}

.footer_input_wrapper{
  display: flex;
}

