
.hero{
 background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), 
  url(../images/overlay-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto; 

  &--padding-top-bottom{
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px)
and (max-width: 1200px){
  .hero{
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
      ), 
    url(../images/overlay-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto; 

    &--padding-top-bottom{
      padding-top: 118px;
      padding-bottom: 118px;
    }
  }

}

@media screen and(min-width: 1200px){
  .hero{
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
      ), 
    url(../images/overlay-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto; 

    &--padding-top-bottom{
      padding-top: 200px;
       padding-bottom: 200px;
    }
  }
}

