.section{
  padding: 60px 0;
}

@media screen and(min-width: 786px)
and (max-width: 1200px){
  .section{
    padding: 60px 0;
  }
}

@media screen and(min-width: 1200px){
  .section{
   padding: 94px 0;
  }
}
